<!DOCTYPE html>
<html>
<head>
  <title><%= @_page_title %></title>
  <%=javascript_include_tag "ace_skin/jquery-2.0.3"%>
  <%=javascript_include_tag "ace_skin/i18n"%>
  <script>

      i18n.set_config(<%= raw javascript_i18n.to_json%>, '<%= locale%>');

  </script>

  <%= stylesheet_link_tag "simple_list/application", :media => "all" %>
  <%= javascript_include_tag "simple_list/application"%>

  <%= stylesheet_link_tag "ace_skin/application", :media => "all" %>
  <%= javascript_include_tag "ace_skin/application"%>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>
<%=render(:partial=>"simple_list/app_head")%>

<%=render(:partial=>"simple_list/app_page")%>

</body>
</html>
<!--适配手机等便携设备-->
<style>
    @media screen and (max-width: 1000px) {
        .ui-jqgrid .ui-jqgrid-bdiv {
            min-width: 1300px !important;
        }
        .ui-jqgrid .ui-jqgrid-hdiv {
            min-width: 1300px !important;
        }
        .ui-jqgrid .ui-jqgrid-hdiv table {
            min-width: 1300px !important;
        }
        .ui-jqgrid .ui-jqgrid-bdiv table {
            min-width: 1300px !important;
        }
        .ui-jqgrid-view {
            min-width: 1300px !important;
        }
    }
</style>
<script>
  $(function() {
      $('body').extPlugins();
  })
</script>